
*{
    margin:0;
    padding:0;
    outline:0;
    font-family:poppins;
}
.khan{
    text-align:center;
    
}
img {
    float: right;
    border-radius: 50%;
    border-bottom: 30px;
    position: relative;
    right: 150px;
    bottom: 120px;
    width: 10%;  
}
table{
    margin-left:10%;
    text-align:center;
}
@media(max-width:1200px){
  
    img {
        float: right;
        border-radius: 50%;
        position: relative;
        right: 150px;
        bottom: 126px;
        width: 10%;
      
    }



}

@media(max-width:991px){
    .box6 table{
        width:80%;
    }
    .khan{
        font-style:italic;
        font-size:15px;
        background:yellow; 
    }
    section h3{
        font-style:italic;
        background:maroon;
        display:inline-block;
    }
    .box6 table{
        height:10%;
    }
    img {
        float: right;
        border-radius: 50%;
        border-bottom: 11px;
        position: relative;
        left: -70px;
        bottom: 96px;
        width: 9%;
        right: 20px;
    }
 
}

@media(max-width:768px){

 img {
    float: right;
    border-radius: 50%;
    border-bottom: 11px;
    position: relative;
    left: -30px;
    bottom: 86px;
    width: 11%;
    right: 20px;
}
    
 
 .khan{
    font-style:italic;
    font-size:12px;
    background:gray; 
}
    
}
@media(max-width:450px){
    
        img {
            float: right;
            border-radius: 50%;
            border-bottom: 30px;
            position: relative;
            right: 150px;
            bottom: 82px;
            width: 12%;
        }
        section h3{
            font-style:italic;
            background:rgb(29, 199, 7);
            display:inline-block;
    }
    h2{
        background:rgb(224, 10, 110);
        font-style:italic;
        display:inline-block;
    }
    .khan{
        font-style:italic;
        font-size:10px;
        background:cyan; 
    }
    span{
    color:maroon;
    font-style:italic;
    }
}
.line{
   text-align:center;
   color:magenta;
   font-weight:bold;
}